@media (min-width: 1440px) {
   
}
.bg-header {
    background-color:#F8F3EC;
    padding-left:30px;
    padding-right:30px;

}
.ribbon-info {
    background-color: #006dcf;
    text-align: center;
    font-size: 14px;
    color: aliceblue;
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav-row {
    padding-top: 15px;
    margin-left: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.nav-container-logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.nav-logo {
    height: 50px;
}
.nav-logo-text {
    width: 75%;
    float: left;
    left: 10px;
    color: black;
    padding-right: 50px;
    font-family: PoppinsLight, sans-serif !important;
}
.nav-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.nav-btn-login{
  background:#04385b;
  color:white;
  padding:5px 10px;
  font-family: PoppinsLight, sans-serif !important;
  font-size:12pt;
  border-radius: 4px;
}